<div class="row">    
    <div class="col-md-1">   
        <i class="material-icons">extension</i>    
    </div>
  <div class="col-md-7">                           
    
    <label class="text-info"><h5><strong> {{indicador.indicador}} </strong></h5></label> 
  </div> 

  <div class="col-md-4">                            
      

    <span ng-style="myStyle">algoooooooo</span>
      <!--<label class="text-info"><h5><strong> </strong></h5></label> -->
      <!--<button mat-raised-button type="submit" class="btn pull-right">{{indicador.porcentaje}}</button>-->


  </div>     
</div>

