
      <div class="card">
          <div class="card-header card-header-warning">
              <h4 class="card-title">Kárdex de Calificaciones</h4>              
          </div>
          <div class="card-body table-responsive">
              <table class="table table-hover">
                  <thead class="text-warning">
                      <th>Semestre</th>
                      <th>Clave</th>
                      <th>Materia</th>
                      <th>Parcial 1</th>
                      <th>Parcial 2</th>
                      <th>Parcial 3</th>
                      <th>Extra 1</th>
                      <th>Extra 2</th>
                      <th>Extra 3</th>                    
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>BA12101</td>
                          <td>ÁLGEBRA I</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>BA12101</td>
                          <td>CIENCIAS SOCIALES I</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>BA12101</td>
                          <td>RAZONAMIENTO CRÍTICO I</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>BA12101</td>
                          <td>QUÍMICA I</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                          <td>6.0</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

